.avatar {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 50% !important;
    background-color: #bdbdbd;
    color: #fff;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 1.25rem;
    user-select: none;
    object-fit: cover;
    flex-shrink: 0;
}

.avatar-img {
    width: 100%;
    height: 100%;
    text-align: center;
    object-fit: cover;
    color: transparent;
    text-indent: 10000px;
}