.list {
    list-style: none;
    margin: 0;
    padding: 8px 0;
    position: relative;
}

.list-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
    padding: 8px 16px;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    cursor: pointer;
    color: inherit;
}

.list-item:hover {
    background-color: rgba(0, 0, 0, 0.04);
}

.list-item-icon {
    min-width: 40px;
    /* Standard MUI spacing */
    display: inline-flex;
    flex-shrink: 0;
    color: rgba(0, 0, 0, 0.54);
}

.list-item-text {
    flex: 1 1 auto;
    min-width: 0;
    margin-top: 4px;
    margin-bottom: 4px;
}

.list-item-text-primary {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    display: block;
}

.list-item-text-secondary {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.43;
    color: rgba(0, 0, 0, 0.6);
    display: block;
}