.badge-container {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    flex-shrink: 0;
}

.badge-badge {
    display: flex;
    flex-flow: row wrap;
    place-content: center;
    align-items: center;
    position: absolute;
    box-sizing: border-box;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    font-size: 0.75rem;
    min-width: 20px;
    line-height: 1;
    padding: 0 6px;
    height: 20px;
    border-radius: 10px;
    z-index: 1;
    transition: transform 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: #ef4444;
    /* Default error/red color */
    color: #fff;
    top: 0;
    right: 0;
    transform: scale(1) translate(50%, -50%);
    transform-origin: 100% 0%;
}

.badge-invisible {
    transform: scale(0) translate(50%, -50%);
}