.pending{
	color: rgb(235, 119, 12);
	background-color: rgba(245, 186, 132, 0.5);
	padding: 0.2rem 1rem 0.2rem 1rem;
	border: 1px solid rgb(235, 119, 12);
	border-radius: 0.3rem;
}

.resolved{
	color: rgb(19, 168, 29);
	background-color: rgba(122, 235, 130, 0.5);
	padding: 0.2rem 1rem 0.2rem 1rem;
	border: 1px solid rgb(19, 168, 29);
	border-radius: 0.3rem;	
}

.rejected{
	color: red;
	background-color: rgba(224, 135, 121, 0.5);
	padding: 0.2rem 1rem 0.2rem 1rem;
	border: 1px solid red;
	border-radius: 0.3rem;	

}
.cursor-pointer{
	cursor: pointer;
}