#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
}

textarea {
  color: black !important;
}

input {
  color: black !important;
}

select {
  color: black !important;
}