.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1300;
    background-color: transparent;
}

.menu-paper {
    position: absolute;
    background-color: #fff;
    color: rgba(0, 0, 0, 0.87);
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    min-width: 160px;
    padding-top: 8px;
    padding-bottom: 8px;
    outline: 0;
    z-index: 1301;
}

.menu-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 6px 16px;
    box-sizing: border-box;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: inherit;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1);
    text-align: left;
}

.menu-item:hover {
    background-color: rgba(0, 0, 0, 0.04);
}